.formWork {
    &__block-basic {
        display: flex;
    }

    &__block-list {
        margin-left: 5px;
    }
}

.formProject {
    &__content {
        margin-top: 5px;
    }

    &__block {

        &_title {
            font-size: 13px;
            font-weight: 700;

            a {
                color: #BB19EB;

                &:after {
                    color: #C680E0
                }
            }
        }

        &_list {
            font-size: 10px;
        }
    }
}

.basic {
    display: flex;
    justify-content: space-between;

    &__title {
        &_title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 3px;
        }

        &_subtitle{
            font-size: 11px;
        }
    }

    &__period {
        display: flex;
        padding-left: 3px;

        &_exp {
            display: flex;
        }

        &_expMonth {
            margin-left: 3px;
        }
    }
}

.list {
    margin-top: 5px;

    li {
        display: flex;
        margin-top: 2px;
        font-size: 10px;
    }
}