.basic-info {
    flex-grow: 0.1;

    &__content,  &__content-dark   {
        min-width: 250px;
        height: 1100px;
        padding-top: 30px;
    }

    &__content {
        background-color: #E6E6FA;
    }

    &__content-dark {
        background-color: rgba(116, 66, 200, 0.3);
    }

    &__photo {
        display: flex;
        justify-content: center;

        img {
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
}