.footer{
    &__container{
    }
    &__content, &__content-dark{
        font-weight: 100;
        font-size: 8px;
        padding: 5px 42px;
    }
    &__content{
        background-color: rgba(230, 230, 250, 0.2)
    }
    &__content-dark{
        background-color: rgba(66, 49, 137, 0.5);
        color: rgba(256, 256, 256, 0.5);
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 400px) {
    .footer{
        display: none;
    }
}