.otherInfo {
    &__block {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 10px;

        &:last-child, &:first-child {
            margin-top: 30px;
        }

        &_title, &_titleSmall{
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 16px;
        }

        &_titleSmall{
            font-size: 13px;
        }

        &_content {
            display: flex;
        }

        &_list{
            padding-left: 15px;
            li{
                display: flex;
                padding-bottom: 3px;
            }
        }

        &_icon{
            margin-top: 5px;
        }
    }
}

.list{
    &__icon{
        margin-top: -2.5px;
        margin-right: 3px;
    }
    &__text{
    }
}

@media (max-width: 450px) {
    .mobileOtherInfo{
        &__block{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .dark-title, .title{
        width: 100vw;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title{
        background-color: #D3A5E4;
    }
    .dark-title{
        background-color: rgba(128, 61, 255, 0.4);
    }
    .dark-title:last-child, .title:last-child{
        padding-left: 10px;
    }

    .list{
        ul{
            margin: 10px 0;
            li{
                line-height: 13px;
            }
        }
    }
}