.personalInfo {
    &__content {
        margin-top: 30px;
        margin-left: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
    }

    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;

        &_icon {
            margin-right: 10px;
        }
    }
}

.text{
    &__block-birthday{
        padding-top: 2px;
    }
}


@media (max-width: 450px) {
    .mobileInfo {
        &__content {
            margin-top: 10px;
            margin-left: 20px;
        }

        &__title {
            display: none;
        }

        &__block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 5px;

            &_icon {
                margin-right: 5px;
            }
        }
    }
}